<div class="container">
    <nav class="span-24" role="navigation">
        <ul>
            <li>     
                <label for="city">    
                    City <input type="radio" id="city" name="navradio" value="1" />
                </label>                    
            </li>
            <li>                   
                <label for="country">    
                    Country <input type="radio" id="country" name="navradio" value="2" />
                </label>
            </li>                
        </ul>
    </nav>    
    

    <form class="search span-24">
        <fieldset>
            <input type="text" id="searchBox" name="searchBox"  placeholder="Enter keyword to search" />
            <input type="submit" id="searchButton" value="Search" />
        </fieldset>       
    </form>  

    <div id="results" class="span-24 invisible">
    </div>
    <div id="pages" class="span=24 invisible">
    </div>
</div>


<script id="city-template" type="text/x-handlebars" data-template-name="city-template">     
{{#if items}}
<table>
<thead>
    <tr><th>Id</th>
        <th>Name</th>
        <th>CountryCode</th>
        <th>District</th>
        <th>Population</th>
    </tr>
    </thead>
    <tbody>
    {{#each items}}
    <tr>
        <td>{{Id}}</td>
        <td>{{Name}}</td>
        <td>{{CountryCode}}</td>    
        <td>{{District}}</td>
        <td>{{Population}}</td>
    </tr>
    {{/each}}
</tbody>
</table>
{{/if}} 
</script>
    
<script id="country-template" type="text/x-handlebars" data-template-name="country-template">     
{{#if items}}
<table>
<thead>
    <tr><th>Name</th>
        <th>Continent</th>
        <th>Region</th>
        <th>Population</th>
        <th>GNP</th>
        <th>Capital</th>
    </tr>
    </thead>
    <tbody>
    {{#each items}}
    <tr>
        <td>{{Name}}</td>
        <td>{{Continent}}</td>
        <td>{{Region}}</td>    
        <td>{{Population}}</td>
        <td>{{GNP}}</td>
        <td>{{Capital}}</td>
    </tr>
    {{/each}}
</tbody>
</table>
{{/if}} 
</script>    
    
<script id="pages-template" type="text/x-handlebars" data-template-name="pages-template"> 
<nav class="page">
    <ul>
    {{#each pages}}
    <li><a data-start="{{start}}" data-page="{{number}}" title={{start}} href="http://">{{number}}</a></li>
        {{#if isLast}}
            {{#if showNext}}
                <li class="page-next"><a id="next" title="{{end}}" data-start="{{end}}" href="http://">Next &#187;</a></li>
            {{/if}}
        {{/if}}    
    {{/each}}  
    <span>Showing {{total}} items from <span class="category-name">{{name}}</span></span>
    </ul>
</nav>             
</script>

@Scripts.Render("~/scripts/handlebars")
@Scripts.Render("~/scripts/index")
<script>
    (function () {
        var app = new window.Application();
        app.start();
    }());
    
</script>