@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
<link rel="shortcut icon" type="image/png" href="/Content/images/jasmine_favicon.png">
@Styles.Render("~/css/jasmine")
@Scripts.Render("~/scripts/jasmine")
</head>
<body>
@Scripts.Render("~/scripts/index")
@Scripts.Render("~/scripts/indextest")
</body>
</html>
