<style>
    .search-container {        
        border: 1px dotted gray;
        margin: 5px;
    }
    div#search-menu li {
        display:inline;
        border: 1px dashed gray;
        padding: 10px;  
        margin-right: 5px;
        text-decoration: none; 
        list-style: none;
    }
    div#search-menu li:hover {
       background-color: lightgray;
    }
    div#search-menu li a {
        text-decoration: none;
    }   
    .search-options {
        padding: 10px;
    }
    .invisible {
        display:none;
    }    
    .items-container {
        border: 1px dotted green;
        margin: 10px;
        padding: 10px;
    }
    tbody tr:nth-child(2n) {
        background-color: lightgray;
    }
</style>
<div class="search-container">
    <div id="search-menu" placeholder="Select table to search">
        <ul>
            <li><a href="">City</a></li>
            <li><a href="">Country</a></li>
        </ul>
    </div>
    <div class="search-options">
        <input type="text" id="searchBox" name="searchBox"  placeholder="Enter keyword to search" />
        <input type="button" id="searchButton" value="Search" />
    </div>    
</div>

<div id="resultBox" class="items-container invisible">
</div>

<script id="city-template" type="text/x-handlebars" data-template-name="city-template">
     
    {{#if items}}
    <table>
    <thead>
        <tr><th>Id</th>
            <th>Name</th>
            <th>CountryCode</th>
            <th>District</th>
            <th>Population</th>
       </tr>
     </thead>
     <tbody>
       {{#each items}}
       <tr>
            <td>{{Id}}</td>
            <td>{{Name}}</td>
            <td>{{CountryCode}}</td>    
            <td>{{District}}</td>
            <td>{{Population}}</td>
        </tr>
        {{/each}}
    </tbody>
    </table>    
    <span>
    {{#each pages}}
    <a data-start="{{start}}" title={{start}} href="http://">{{page}}</a> |
        {{#if isLast}}
            {{#if showNext}}
                <a id="next" title="{{end}}" data-start="{{end}}" href="http://">Next >></a>
            {{/if}}
        {{/if}}    
    {{/each}}  
    <span>{{total}} items</span>
    </span>      
    {{/if}}           
</script>

@Scripts.Render("~/bundles/handlebars")
@Scripts.Render("~/bundles/index")