@using SphinxDemo.Data.Models
@model List<CityModel> 

<form id="searchForm">
    <input type="text" id="searchBox" name="searchBox"  placeholder="Enter keyword to search" />
    <input type="button" id="searchButton" value="Search" />
</form>

<div id="resultBox">
</div>

<script id="city-template" type="text/x-handlebars-template">   
    {{#if cities}}
    <table>
    <thead>
        <tr><th>Id</th>
            <th>Name</th>
            <th>CountryCode</th>
            <th>District</th>
            <th>Population</th>
       </tr>
        {{#each cities}}
       <tr>
            <td>{{Id}}</td>
            <td>{{Name}}</td>
            <td>{{CountryCode}}</td>    
            <td>{{District}}</td>
            <td>{{Population}}</td>
        </tr>
        {{/each}}
    </thead>
    </table>
    <a id="prev" data-current="{{cities.prev}}" href="http://">Previous</a><span>...</span><a id="next" data-current="{{cities.next}}" href="http://">Next</a>
    {{/if}} 
          
</script>

@Scripts.Render("~/bundles/index")