<form id="searchForm">
    <input type="text" id="searchBox" name="searchBox"  placeholder="Enter keyword to search" />
    <input type="button" id="searchButton" value="Search" />
</form>

<div id="resultBox">
</div>

<script id="city-template" type="text/x-handlebars" data-template-name="city-template"> 
     
    {{#if items}}
    <table>
    <thead>
        <tr><th>Id</th>
            <th>Name</th>
            <th>CountryCode</th>
            <th>District</th>
            <th>Population</th>
       </tr>
       {{#each items}}
       <tr>
            <td>{{Id}}</td>
            <td>{{Name}}</td>
            <td>{{CountryCode}}</td>    
            <td>{{District}}</td>
            <td>{{Population}}</td>
        </tr>
        {{/each}}
    </thead>
    </table>    
    <span>
    {{#each pages}}
    <a data-start="{{start}}" title={{start}} href="http://">{{page}}</a> |
        {{#if isLast}}
            {{#if showNext}}
                <a id="next" title="{{end}}" data-start="{{end}}" href="http://">Next >></a>
            {{/if}}
        {{/if}}    
    {{/each}}  
    <span>{{total}} items</span>
    </span>      
    {{/if}} 
          
</script>

@Scripts.Render("~/bundles/handlebars")
@Scripts.Render("~/bundles/index")